@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<baitap.Context.Products>
@{
    ViewBag.Title = "Index";
}
<style>

    /* Set the style for the a tag */
    .pagination a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color .3s;
        border: 1px solid #ffb600;
    }
        /* set the style for the active class */
        .pagination a.active {
            background-color: dodgerblu;
            color: white;
            display: inline-block;
            width: 40px;
            height: 48px;
            border: 1px solid #ffb600;
        }
        /* add background color when user hovers on inactive class */
        .pagination a:hover:not(.active) {
            background-color: #4cff00;
            display: inline-block;
            width: 40px;
            height: 48px;
            border: 1px solid #00ffff;
        }
</style>
<section class="section-content padding-y">
    <div class="container">

        <nav class="row">
            @foreach (var item in Model)
            {

                <div class="col-md-3">
                    <figure class="card card-product-grid">
                        <div class="img-wrap">
                            <span class="badge badge-danger"> MỚI</span>
                            <img style="width:50%" src="~/Content/images/items/@item.Avartar">
                        </div> <!-- img-wrap.// -->
                        <figcaption class="info-wrap">
                            <a href="@Url.Action("Detail", "Product", new {Id = item.Id })" class="img-wrap"></a>
                            <div class="price-wrap">
                                <span class="price">$32.00-$40.00</span>
                                <small class="text-muted">/per item</small>
                            </div> <!-- price-wrap.// -->

                            <p class="mb-2"> 2 Miếng  <small class="text-muted">(Đơn hàng tối thiểu)</small></p>



                            <hr>

                            <p class="mb-3">
                                <span class="tag"> <i class="fa fa-check"></i> Đã xác minh</span>
                                <span class="tag"> 2 năm</span>
                                <span class="tag"> 23 đánh giá</span>
                                <span class="tag"> Nhật Bản </span>
                            </p>

                            <label class="custom-control mb-3 custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <div class="custom-control-label">
                                    Thêm vào để so sánh
                                </div>
                            </label>

                            <a href="#" class="btn btn-outline-primary"> <i class="fa fa-envelope"></i> Liên hệ với nhà cung cấp </a>

                        </figcaption>
                    </figure>
                </div>

            }
            Trang @(Model.PageCount <Model.PageNumber ?0 :Model.PageNumber)/@Model.PageCount
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilter = ViewBag.CurrentFilter }))

        </nav> <!-- row.// -->


    </div> <!-- container .//  -->
</section>

