
@{
    ViewBag.Title = "Index";
}

<h2>Nội dung</h2>


<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content bg-white padding-y">
    <div class="container">

        <h5 class="card-title">Tên phần đầu tiên</h5>
        <p>
            Tên phần đầu tiên
            Thị trường điện thoại di động (ĐTDĐ) Việt Nam 2018 đang phân hóa mạnh các dòng điện thoại Smartphone, 
            hàng loạt các xu hướng cũng như công nghệ mới ra đời thúc đẩy quá trình phát triển ngành công nghiệp điện thoại. 
            Nhưng vẫn tồn tại song song các dòng điện thoại “nguyên thủy”, tạm tính thì có 2 dòng điện thoại chính:

            - Dòng điện thoại cũ (cấp thấp): Là một điện thoại di động tại thời điểm sản xuất không được coi là điện thoại thông minh.
            Được chạy trên phần mềm sở hữu độc quyền. Kiểu dáng đơn giản, nhỏ gọn và đặc biệt là khá dày.

            - Dòng điện thoại mới (Smart phone): là điện thoại chạy trên nền tảng hệ điều hành có nhiều tính năng tích hợp, 
            đặc biệt là sử dụng màn hình cảm ứng, bộ nhớ lưu trữ nhiều cùng nhiều chức năng đa phương tiện khác như: 
            trình duyệt web, Email, tích hợp các ứng dụng từ bên thứ 3, và kết nối dễ dàng với các thiết bị khác. Đ
            iện thoại Smartphone hiện đang chạy trên các hệ điều hành như: Android, Ios, Windows Phone, Blackberry OS.
         
        </p>
        <p>
            Mắt là cơ quan thị giác thực hiện chức năng nhìn, quan sát, thu nhận lại hình ảnh của sự vật, màu sắc để chuyển vào não xử lý và lưu trữ
            Tuy nhiên, sử dụng điện thoại làm giảm đáng kể khả năng tập trung của con người, và liên tiếp khiến đôi mắt bị ảnh hưởng nghiêm trọng, 
            các bệnh lí về mắt xuất hiện ngày càng nhiều.

            Theo một nghiên cứu năm 2016, ánh sáng phát ra từ các thiết bị di động, hoặc ánh sáng xanh, 
            "được sử dụng để điều trị rối loạn chức năng sinh học và giấc ngủ", nhưng có thể gây ra thiệt hại cho tế bào cảm quang,
            do đó tiếp xúc lâu dài với ánh sáng xanh sẽ làm hỏng mô võng mạc, đặt màn hình càng gần thì bức xạ đó càng dễ bị hấp thụ, gây hại cho mắt.
        </p>



        <div class="row mt-5">
            <div class="col-md-4">

                <p>
                    Nhiều người gặp khó khăn khi đặt điện thoại xuống trước khi đi ngủ. Tuy nhiên, một số nghiên cứu đã cho thấy rằng việc sử dụng màn hình LCD
                    đặc biệt gần với khuôn mặt của bạn, có thể làm đảo lộn chu kỳ giấc ngủ tự nhiên. Theo đó, ánh sáng xanh mà thiết bị phát ra đã ức chế sản xuất 
                    melatonin, hormone gây ngủ.
                    Mắt chúng ta đã quen với việc hấp thụ ánh sáng xanh từ mặt trời vào ban ngày,
                    vì vậy khi chúng ta nhận được nó vào ban đêm, nó sẽ phá vỡ nhịp sinh học gây nên tình trạng mất 
                    Cho nên các nhà sản xuất điện thoại, điển hình là iPhone và Android hiện đã có bộ lọc ánh sáng xanh, 
                    các ứng dụng sẽ áp dụng chế độ tối để làm màn hình điện thoại dễ chịu hơn với đôi mắt, 
                    thậm chí có thể được điều chỉnh tự động thay đổi theo thời gian trong ngày.
                </p>

                </article>
            </div> <!-- col.// -->
            <div class="col-md-4">
                <p>
                    Khi gặp sự cố với màn hình điện thoại, việc đầu tiên cần làm là kiểm tra tình trạng màn hình của điện thoại:
                    - Đảm bảo không có bất cứ vật gì đặt trên hay chèn lên màn hình điện thoại
                    - Hãy gỡ miếng dán màn hình, ốp lưng điện thoại.
                    - Nếu bạn đang đeo găng tay, hãy tháo chúng ra.
                    - Nếu màn hình hoặc cảm biến của bạn đang bị dán miếng dán thì hãy bóc, gỡ chúng ra.
                    Sau khi đã thực hiện kiểm tra và thử từng giải pháp trên mà vẫn chưa khắc phục được sự cố, 
                    hãy xác định lỗi màn hình mà bạn gặp phải và xem tiếp cách khắc phục với từng lỗi cụ thể sau đây nhé!
                </p>
            </div> <!-- col.// -->
            <div class="col-md-4">
                <p>
                    Nếu bạn là người đam mê công nghệ, nhưng lại chưa sẵn sàng chi trả một số tiền lớn để mua hàng mới thì có thể cân nhắc việc săn những chiếc điện thoại Like New.
                    Những thương hiệu điện thoại thường cháy hàng khi bán dưới dạng Like New chính là iPhone, Samsung,...
                    Sở dĩ được nhiều người săn lùng như vậy là vì nếu là người biết xem đồ công nghệ, thì bạn hoàn toàn có thể sắm cho mình hàng ngon nhưng với giá rẻ.
                    Thậm chí nếu may mắn hơn, việc sở hữu những chiếc điện thoại gần như mới hoàn toàn từ những tay test đồ công nghệ là việc không khó.
                </p>
            </div> <!-- col.// -->
        </div> <!-- row.// -->

        <br><br>

        <a href="@Url.Action("Index","Home")" class="btn btn-light"> Quay về trang chủ</a>



    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
<!-- ========================= FOOTER ========================= -->
<!-- ========================= FOOTER END // ========================= -->
</body>
</html>